<!-- CLIENT PROFILE PAGE  -->
<% if @user.writer? == false %>
  <!-- client basic info -->
  <h1>@user.first_name + " " + @user.last_name</h1>
  <p>This user is not a writer</p>
  <img class="avatar-large" src="http://img.ohmymag.com/kate-middleton/catherine-middleton-est-une-nouvelle-femme_87550_w300.jpg">

  <% if @user.id == current_user.id %>
    <%= link_to "Edit Info" %>
  <% end %>

<!-- WRITER PROFILE PAGE -->
<% else %>
  <!-- writer basic info -->
  <h1>@user.first_name + " " + @user.last_name</h1>
  <h2>@user.title</h2>
  <img class="avatar-large" src="http://img.ohmymag.com/kate-middleton/catherine-middleton-est-une-nouvelle-femme_87550_w300.jpg">


  <!-- LE CV -->
  <div class="">


      <!-- les expériences pro -->
      <% if @work_experiences.empty? %>
      <% else %>
        <div class="">
          <h3>EXPERIENCES</h3>
          <% @experiences.each do |experience| %>
            <div class="">
              <h4><%= experience.title %></h4>
              <h3><%= experience.organization %></h3>
              <p><%= experience.start_date.month.to_s + "/" + experience.start_date.year.to_s + " - " + experience.end_date.month.to_s + "/" + experience.end_date.year.to_s %><p>
              <p><%= experience.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- les formations -->
      <% if @educations.empty? %>
      <% else %>
        <div class="">
          <h3>EDUCATION</h3>
          <% @educations.each do |education| %>
            <div class="">
              <h4><%= education.organization %></h4>
              <h3><%= education.title %></h3>
              <p><%= education.start_date.year.to_s + " - " + education.end_date.year.to_s %><p>
              <p><%= education.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>

  </div>

  <!-- fin du IF writer? -->
<% end %>
