<!-- CLIENT PROFILE PAGE  -->

<% if @user.writer == false %>

  <!-- client basic info -->
  <div class="container">
    <div class="row summary-all">
      <div class="col-xs-2">
       <div class="client-summary-photo">
        <% if @user.photo? %>
           <%= cl_image_tag(@user.photo.path, { size: '125x125', crop: :thumb }) %>
        <% else %>
            <%= image_tag "user-icon.png", class: "avatar-large margin-right-5px" %>
          <% end %>
          </div>
        </div>
        <div class="col-xs-10">
          <div class="user-summary-info">
            <% if @user.first_name != nil && @user.last_name != nil  %>
              <h1><%= @user.first_name + " " + @user.last_name %></h1>
            <% end %>
            <p style="font-size: 30px; padding-top: 10px;"><%= @user.id == current_user.id && @user.first_name.nil? ? "Fill your profile in, it only takes a minute" : "" %></p>
            <% if @user.id == current_user.id %>
            <%= link_to "Edit Info", edit_user_path(current_user) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer"></div>

<!-- WRITER PROFILE PAGE -->
<% else %>
  <!-- writer basic info -->

  <div class="container">
    <div class="row user-summary-all">
      <div class="col-xs-2">
        <div class="user-summary-photo">
          <% if @user.photo? %>
            <%= cl_image_tag(@user.photo.path, { size: '125x125', crop: :thumb }) %>
          <% else %>
            <%= image_tag "user-icon.png", class: "avatar-large margin-right-5px" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-7">
        <div class="user-summary-info">
          <h1><%= @user.first_name + " " + @user.last_name %></h1>
          <h3><%= @user.title %></h3>
          <p style="font-size: 30px; padding-top: 10px;"><%= @user.id == current_user.id && @user.price == nil ? "Fill your writer profile in, it only takes a minute" : "" %></p>
          <h4><%= "Daily Price: #{@user.price}€" %></h4>
          <h4><%= @user.available ? "#{@user.first_name} is available at the moment" : "#{@user.first_name} is not available at the moment" %></h4>
          <% if @user.id == current_user.id %>
            <%= link_to "Edit Info", edit_user_path(current_user) %>
            <%= link_to "Vos missions", missions_path %>
          <% end %>
        </div>
        <br>
      </div>
      <div class="col-xs-3">
        <div class="user-summary-book-button margin-right-5px">
          <% if @user.id != current_user.id %>
            <%= link_to "Book this Plume", missions_path, class: "btn btn-primary", id: "booking-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- temporary divider -->
  <div class="spacer"></div>

  <!-- LE CV -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="">
            <% if @experiences.empty? == false %>
              <h2>Résumé</h2>
            <% end %>
            <% if @user.id == current_user.id %>
              <%= link_to "Add an Experience", new_experience_path %>
            <% end %>

                <!-- les expériences pro -->
                <% if @work_experiences.empty? %>
                <% else %>
                  <div class="">
                    <h3><i class="fa fa-wpforms" aria-hidden="true"></i> EXPERIENCES</h3>
                    <% @work_experiences_sorted.each do |experience| %>
                      <div class="">
                        <h4 class="display-inline"><%= experience.title + " @ " + experience.organization %></h4>
                        <% if @user.id == current_user.id %>
                          <%= link_to "Edit Experience", edit_experience_path(experience), class: "padded-left-5px" %>
                        <% end %>
                        <p><%= experience.start_date.month.to_s + "/" + experience.start_date.year.to_s + " - " + experience.end_date.month.to_s + "/" + experience.end_date.year.to_s %><p>
                        <p><%= experience.description %></p>
                      </div>
                    <% end %>
                  </div>
                <% end %>

                <!-- les formations -->
                <% if @educations.empty? %>
                <% else %>
                  <div class="">
                    <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> EDUCATION</h3>
                    <% @educations.each do |education| %>
                      <div class="">
                        <h4 class="display-inline"><%= education.title + ' @ ' + education.organization %></h4>
                          <% if @user.id == current_user.id %>
                            <%= link_to "Edit Education", edit_experience_path(education), class: "padded-left-5px" %>
                          <% end %>
                        <p><%= education.start_date.year.to_s + " - " + education.end_date.year.to_s + " >> " + ([(education.end_date.year - education.start_date.year), 1].max ).to_s + " year(s)" %><p>
                        <p><%= education.description %></p>
                      </div>
                    <% end %>
                  </div>
                <% end %>
            </div>
      </div>
    </div>
  </div>


  <!-- fin du IF writer -->
<% end %>
