<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "first-background.jpg" %>);">
  <div class="banner-content padded-bottom-15vh">
    <h1 class="text-center", id="banner-title" >Find your ghostwriter</h1>
    <br>
<<<<<<< HEAD

<!--     <form class="form-inline">
      <div class="search-bar">
        <input type="text" class="form-control search-input" placeholder="Search somebody or competences">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form> -->
    <%= form_tag "#", id: "search-form" do %>
      <%= text_field_tag :query, nil, id: "search-form", class: "form-control", placeholder: "Medieval biographist" %>
      <%= text_field_tag :location, nil, id: "location-search-form", class: "form-control", placeholder: "Paris" %>
      <%= submit_tag "Search", id: "search-form", class: "btn" %>
    <% end %>
=======
    <h3 class="btn btn-large btn-danger"><%= link_to "View all writers", search_path, style: 'color:#FFFFFF; text-decoration:none;' %></h3>
>>>>>>> dbef9cc7f9f4ebf1051acb943c5a3232fa6c5609
  </div>
</div>

