<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "first-background.jpg" %>);">
  <div class="banner-content padded-bottom-15vh">
    <h1 class="text-center", id="banner-title" >Find your ghostwriter</h1>
    <br>
    <%= form_tag "#", id: "search-form" do %>
      <%= text_field_tag :query, nil, id: "search-form", class: "form-control", placeholder: "Medieval biographist" %>
      <%= text_field_tag :location, nil, id: "search-form", class: "form-control", placeholder: "Paris" %>
      <%= link_to "Search", search_path, id: "search-form", class: "btn btn-primary midnight-blue" %>
    <% end %>
</div>

