<!-- this is the page where a client will see the messages sent by a writer concerning an offer -->

<% @messages_sorted.each do |message| %>
  <% if message.user == current_user %>
    <p><%= message.content + "\b - you" %></p>
    <br>
  <% else %>
    <p><%= message.content + "\b - other user" %></p>
    <br>
  <% end %>
<% end %>

<%= link_to "Send Message", new_message_path(@writer), class: "btn btn-primary" %>
<%= link_to "Back to Missions", missions_path, class: "btn btn-primary" %>
<% if current_user == @writer %>
  <%= link_to "Reject Offer", offer_path(@offer), method: :delete, class: "btn btn-primary" %>
<% end %>
<% if current_user == @client %>
  <%= link_to "Cancel Offer", offer_path(@offer), method: :delete, class: "btn btn-primary" %>
<% end %>

