
  <!-- MISSIONS CREATED -->
  <div class="container">
      <% if @missions.nil? == true %>
        <h3 class="text-center">you haven't created or taken any missions</h3>
      <% else %>
        <% @missions_created.each do |mission| %>
          <div class="row">
            <div class="col-xs-12">
              <div class="card-mission">
                <h3><%= mission.title %></h3>
                <p><%= mission.description  %></p>
                  <% mission.offers.each do |offer| %>
                    <p><%= "Writter(s) on the the project " + offer.user.first_name + offer.user.last_name %></p>
                  <% end %>
                  <br>
                  <!-- Button Modal: Edit Mission -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditMissionModal">
                  Edit
                  </button>
                  <!-- Modal: Edit Mission / can't put it below, it needs to be in the loop  -->
                  <div class="modal fade" id="EditMissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                          <%= simple_form_for([ mission ]) do |form| %>
                            <%= form.input :title %>
                            <%= form.input :description, input_html: {style: "height: 150px;"} %>
                            <%= form.button :submit %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%=  link_to "", mission_path(mission), class: "link-cover-all" %>
                   <%= link_to "Delete", mission_path(mission), method: :destroy, class: "btn btn-primary" %>
              </div>

            </div>
          </div>
        <% end %>
      <% end %>
  </div>

<br>
<br>

<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- Button Modal: Create Mission -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#NewMissionModal">
        New Mission
        </button>
      </div>
    </div>
  </div>
</div>
<br>

<!-- MISSIONS ASSIGNED -->

<% current_user.offers.each do |offer| %>
  <% mission = offer.mission %>
  <h3><%= mission.title %></h3>
  <p><%= mission.description  %></p>
  <%=  link_to "visit", mission_path(mission) %>
  <%=  link_to "jump", offer_path(offer)%>
<% end %>

<!-- SCRIPTS -->

<!-- Modal: Create Mission -->
<div class="modal fade" id="NewMissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create new Mission</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @mission ]) do |form| %>
          <%= form.input :title %>
          <%= form.input :description, input_html: {style: "height: 150px;"} %>
          <%= form.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>


