<div class="wrapper">
  <div class="container">
    <div class="row relative">
      <div class="col-xs-12">
          <h2>Mission Dashboard</h2>
          <% @missions.each do |mission| %>
          <div class="card-profil-search">
            <h3><%= mission.title  %></h3>
            <p><%= mission.description  %></p>
            <%= link_to "", mission_path(mission), class: "link-cover-all" %>
          </div>
            <%= link_to "Delete mission", mission_path(mission), method: :delete, class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
 <%= link_to "Add new mission", new_mission_path, class: "btn btn-primary" %>

