<div class="wrapper">
  <div class="container">
      <div class="row">
        <h2>Title</h2>
        <h4><%= @mission.title  %></h4>
        <h3>Description:</h3>
        <h6><%= @mission.description  %></h6>
        <h3>Category:</h3>
        <h4><%= @mission.category  %></h4>
        <h3>Status:</h3>
        <h4><%= @mission.status  %></h4>
        <br>
      <%= link_to 'back', missions_path, class: "btn btn-danger" %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Edit
      </button>
      <%= link_to "Delete", mission_path, class: "btn btn-primary", method: :delete %>
      <%= link_to "Make an offer", mission_offers_path(@mission), method: :post, class: "btn btn-primary" %>
      </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @mission ]) do |form| %>
          <%= form.input :title %>
          <%= form.input :description %>
          <%= form.input :category %>
          <%= form.input :status %>
          <%= form.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
